body {
    background-image: url("https://cdn.theatlantic.com/thumbor/x_E--p6ZlSZVLloO--YAO41qFoM=/0x141:2781x1705/960x540/media/img/mt/2015/10/Cygnus_v3_BandW/original.jpg");
    background-size: 100%;
    background-attachment: fixed;
  }

  